<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>STUDENT CONFIRMATION WITH BUĞRAHAN</title>
</head>
<body>

<h3>STUDENT CONFIRMATION BGR</h3>

<p>THE STUDENT IS CONFIRMED: <span th:text="${student.firstName + ' ' + student.lastName}"></span></p>

<br><br>

Country: <span th:text="${student.country}" />

<br><br>

Favorite Programming Language: <span th:text="${student.favoriteLanguage}" />

<br><br>

Favorite Operating Systems: <span th:text="${student.favoriteOperatingSystems}" />


</body>
</html>
